<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="SSE_APPENDER" class="com.mediamanager.system.logging.SseLogbackAppender">
        <threshold>INFO</threshold>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SSE_APPENDER"/>
    </root>

</configuration>

